extends layout

block header
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery.js')

block content
  h1= title
  p Welcome to #{title}
  p 'URL : '
    span#url= url
  p 'PORT : '
    span#port= port
  
  ul
  each user in users
    li
      = user.username

  script(type='text/javascript').
    var url = $('#url').text();
    var port = $('#port').text();
    var socket = io.connect(url + ':' + port);
    var text = '';
    socket.on('client new connection', function (data) {
      text = 'A new server has connected to yours: user: ' + data.username + '@' + data.url + ' | ' + data.timestamp;
      console.log('I recevied a client-new-connection event with data ' + text);
    });