extends layout

block header
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery.js')

block content
  h1= title
  p Welcome to #{title}
  p 'URL : '
    span#url= url
  p 'PORT : '
    span#port= port
  
  ul
  each user in users
    li
      = user.username

  script(type='text/javascript').
  
    var url = $('#url').text();
    var port = $('#port').text();
    var socket = io.connect('http://' + url + ':' + port);
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });