extends layout

block header
  script(src='/javascripts/jquery.js')

block content
  h1= title
  div
    form#formPost(name="register",method="post",action="/posts")
      textarea#inputPostText(rows = 4, cols = 80, placeholder="What's on your mind...", name="posttext")
  div
    button#btnSubmit(type="button") Post
  
  each post in posts
    div
      = post.text
    div
      = post.createdAt
  
  script(type='text/javascript').
    $(document).ready(function(){
      // js client
      var name = 'andres';
      // alert('hello ' + name);
    });