extends layout

block header
  script(src='/javascripts/jquery.js')

block content
  h1 So whats up?

  div
    form#formPost(name="register",method="post",action="/posts")
      textarea#inputPostText(rows = 4, cols = 80, placeholder="What's on your mind...", name="posttext")
  div
    button#btnSubmit(type="button", name="postbutton") Post

  h1= title
  
  div
    each post in posts
      div
        = post.text
      div
        = post.createdAt
      div &nbsp
  
  script(type='text/javascript').
    $(document).ready(function(){
      $('#btnSubmit').click(function(){
        $.post( "/posts", $( "#formPost" ).serialize(), function(){
          //
          alert("Success");
        })
        .done(function() {
          //
        })
        .fail(function() {
          //
          alert("Error");
        });
        $('#inputPostText').text('');
      })
    });